<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yazdaniscodelab.jobtoday">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HireStuff.HireStuffLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GetJobAllFunction.GetJobRegistrationActivity" />
        <activity android:name=".GetJobAllFunction.GetJobLoginActivity" />
        <activity android:name=".HireStuff.HireStuffRegActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".GetJobAllFunction.HomeGetJobActivity" />
        <activity android:name=".HireStuff.HomeHireStuffActivity" />
        <activity
            android:name=".HireStuff.HireStuffPostJobActivity"
            android:parentActivityName=".HireStuff.HomeHireStuffActivity" />
        <activity
            android:name=".GetJobAllFunction.ApplyJobDetailsActivity"
            android:parentActivityName=".GetJobAllFunction.HomeGetJobActivity"></activity>
        <activity android:name=".GetJobAllFunction.testActivity"></activity>
    </application>

</manifest>